* {
    margin: 0;
    padding: 0;
}

*::before,*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Cera Pro';
}

.section1 {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.section1::before {
    content: '';
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(340px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.elipse1 {
    position: absolute;
    width: 80vw;
    height: 80vw;
    background: #FFDB80;
    border-radius: 50%;
    top: -30%;
    left: -20%;
    z-index: 1;
}

.elipse2 {
    position: absolute;
    width: 80vw;
    height: 80vw;
    background: #47CAF3;
    border-radius: 50%;
    top: -20%;
    right: -20%;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 1200px;
    z-index: 10000;
    position: fixed;
    background: #989898;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list a {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    color: #686C75;
    text-decoration: none;
}



.menu-list a:hover {
    text-decoration:underline;
}

.menu-list li + li {
    margin-left: 90px;
}

.logo {
    margin: 0;
    font-weight: 400;
    font-size: 29.2528px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    font-family: 'Cera Pro';
}

.main {
    display: flex;
    align-items: stretch;
    padding-top: 120px;
}

.main .left {
    flex-grow: 0;
    flex-shrink: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.main .left h1 {
    font-weight: 700;
    font-size: 58.5056px;
    line-height: 68px;
    margin-top: 14px;
}

.main .right {
    flex: 0 1 auto;
    padding-left: 30px;
}

.main .right .img1 {
    border-radius: 376.107px 376.107px 0px 0px;
}

.img1-wrapper {
    position: relative;
}

.img2 {
    position: absolute;
    left: -20px;
    top: -18px;
    z-index: -1;
}

.img3 {
    width: 230px;
    height: 230px;
    position: absolute;
    top: -30px;
    right: -95px;
    border-radius: 50%;
}

.img4 {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 240px;
    right: -140px;
    border-radius: 50%;
}


.img5 {
    position: absolute;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    right: -190px;
    top: 140px;
}

.title-group {
    margin-top: 160px;
}

form {
    padding: 22px 34px;
    position: absolute;
    left: 0;
    bottom: 76px;
    background: rgba(243, 243, 243, 0.6);
    backdrop-filter: blur(35.5212px);
    border-radius: 5.22371px;
    width: 777.29px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form label {
    font-style: normal;
    font-weight: 400;
    font-size: 18.8054px;
    line-height: 24px;
    color: #989898;
    display: inline-flex;
    align-items: center;
}

form label img {
    margin-right: 15px;
}

form input {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18.8054px;
    line-height: 24px;
    color: #989898;
    border: none;
    background: transparent;
    padding: 8px 16px;
    text-align: center;
}

form input::placeholder {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18.8054px;
    line-height: 24px;
    color: #989898;
}

form button {
    background: #FD5B2F;
    border-radius: 5.22371px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.40268px 36.566px;
    font-style: normal;
    font-weight: 500;
    font-size: 16.7159px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
}

.people-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.people {
    width: 36px;
    height: 36px;
    border: 2px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.people + .people {
    margin-left: -7px;
}

.people:last-child {
    margin-right: 14px;
}

.people img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2 {
    padding: 160px 0;
}

#slider {
    width: 475px;
}

.slider-item {
    position: relative;
    box-sizing: border-box;
    height: 650px;
    padding: 10px 10px 0px 10px;
}

.slider-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 376.107px 376.107px 0px 0px;
}

.slider-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}

.slider-dot li {
    margin: 0 2px;
    width: 10px;
}

.slider-dot button {
    height: 0;
    width: 0;
    background: none;
    border: none;
    font-size: 0;
}

.slider-dot button::after {
    border-radius: 1px;
    padding: 0;
    height: 10px;
    width: 10px;
    background: #E9E9E9;
    border: none;
    content: '';
    display: block;
    cursor: pointer;
}


.slider-dot .slick-active button::after {
    background: #FD5B2F;
}